@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.user-img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include tablet {
    width: 50px;
    height: 50px;
  }

}
.user-img {
  width: 100%;
  object-fit: cover;
}
.user-img-container {
  position: relative;
}
.username {
  // margin-top: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 60px;
  @include tablet {
    top: 75px;
    font-size: 1rem;
  }
  @include desktop{
     top: 85px;
  }
}
.user-flex-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  @include tablet {
    margin-bottom: 1rem;
  }
}
.sign-out-btn {
  width: 70px;
  height: 20px;
  margin: 0 1rem;
  font-size: 0.7rem;
  @include tablet {
    width: 80px;
    height: 28px;
    margin: 0 2.5rem;
    font-size: 0.8rem;
  }
  @include desktop{
      margin-right: 4.5rem;
  }
}
.user-container {
  margin-left: auto;
}
// .map-container{
//     margin-top: 0.5rem;
//     width: calc(100% - 2rem);
//     margin-left: 1rem;
//     border: 1px solid;
//     border-radius: 10px;
//     height: 400px;
// }
.map-container {
  margin: 1rem;
  @include tablet{
      margin: 0 2.5rem;
  }
    @include desktop{
      margin: 0 4.5rem;
  }
}
